<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" class="form-control" placeholder="Enter the title " type="text" required>
            <div class="invalid-feedback">Give title name</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" required></textarea>
            <div class="invalid-feedback">Give a decription</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image / URL</label>
            <input name="listing[image]" id="image" class="form-control" placeholder="Enter the image/URL" type="text">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" id="price" class="form-control" placeholder="Enter the price" type="number" required>
            <div class="invalid-feedback">Enter Price</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" id="location" class="form-control" placeholder="Enter the location" type="text" required>
            <div class="invalid-feedback">Location should not be vaccant</div>
        </div>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" id="country" class="form-control" placeholder="Enter the country name" type="text" required>
            <div class="invalid-feedback">Please enter the country name</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br> <br>
    </form>
    </div>
    </div>
</body>
